.header {
  min-height: 5vh;
  max-height: 10vh;
  background-color: rgb(253, 224, 9);
  display: flex;
  justify-content: flex-start;
}
.header h4 {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 24px;
  color: #fff;
}
